{% extends 'BaconCoreBundle::layout.html.twig' %}
{% block body %}

    <section class="content-header">
        <h1>
            {{ 'Home'|trans }}
        </h1>
        {{ bacon_breadcrumbs_render() }}
    </section>

    <section class="content">
        <div class="box box-primary">
            <div class="box box-body">
                <h2>Bem vindo ao Bacon Manager</h2>
            </div>
        </div>
    </section>

{% endblock body %}