web:
    build: .
    ports:
        - "80:80"
    volumes:
        - .:/var/www/html
        - ./deploy/000-default.conf:/etc/apache2/sites-enabled/000-default.conf
    links:
        - mysql
mysql:
    image: mysql
    ports:
        - "3306:3306"
    environment:
        - MYSQL_ROOT_PASSWORD=root
        - MYSQL_DATABASE=bacon_manager
        - MYSQL_USER=bacon_manager
        - MYSQL_PASSWORD=123
