{% extends "BaconUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ 'resetting.password_already_requested'|trans }}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span>  {{ 'Login'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
