body {
  margin-top: 50px;
}

h1.navbar-brand {
  margin: 0px;
}

.page-header h2 {
  font-size: 28px;
  line-height: 40px;
  margin: 0px;
}

ul.pagination {
  margin: 0px;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 25px;
}

table th.action {
    width: 144px;
}

table.table-show tr th {
    width: 30%;
}

.form-delete-inline {
    display: inline-block;
}

.form-delete button {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

a:hover {
    text-decoration: none;
}

.row {
    position: relative;
    padding-bottom: 50px;
}

.form-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.form-actions .col-lg-offset-2 {
    padding-left: 5px;
}

textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control.error,
.chosen-choices.error {
	border: 1px solid red;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	outline: none;
}

.chosen-container-multi .chosen-choices .search-field .default {
	padding: 6px 12px;
}

.chosen-container-multi .chosen-choices {
	border-radius: 4px;
}
